<h2 class="featurette-heading m-3 text-end">Eventos</h2>
<hr class="featurette-divider">
<!---------------------------- carousel -------------------------------->
<div id="carousel-featurette" class="carousel slide" data-bs-ride="true">
<div class="carousel-indicators justify-content-start">
    <button th:each="evento, iter : ${eventos}" type="button" data-bs-target="#carousel-featurette" th:data-bs-slide-to="${iter.index}" class="bg-secondary eventos-indicador" aria-label="'Slide' + ${iter.index}"></button>
  </div>
  <div class="carousel-inner">
    <div th:each="evento : ${eventos}" class="carousel-item eventos-carousel-item">
    <!-------------------- Featurette -------------------------->
<div class="row featurette">
  <div class="col-md-7">
    <h2 th:text="${evento.titulo}" class="featurette-heading"></h2>
    <p th:text="${evento.contenido}" class="lead"></p> 
  </div>
  <div class="col-md-5">
  <img th:src="${evento.image}" height="400" width="500"/>
  </div>
</div>

</div>

  </div>
 <!-------------------- Featurette -------------------------->   
  <button class="carousel-control-prev opacity-0" type="button" data-bs-target="#carousel-featurette" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next opacity-0" type="button" data-bs-target="#carousel-featurette" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!---------------------------- carousel -------------------------------->