<footer id="my-footer" class="bd-footer py-3 mt-2 text-center text-white bg-dark">
  <div class="container py-1">
    <div class="row">

      <div class="col">
        <h5>Locations</h5>
        <ul>
          <li>
              <p>has a global presence with seven offices internationally.</p>
          </li>
          <hr/>
      <li>
          <a href="/about/contact.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=office-locations" target="_self">
              <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>office locations
          </a>
      </li>
      </ul>
      </div>
<!-- --------------------------------------------------------------- -->
      <div class="col mb-3">
        <h5>Membership</h5>
        <ul>
    <li>
        <a href="/membership/join/index.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=join" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Join
        </a>
    </li>
    <li>
        <a href="/membership/renew.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=renew" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Renew
        </a>
    </li>
    <li>
        <a href="/membership/benefits/index.html" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Benefits
        </a>
    </li>
    <li>
        <a href="https://ieee-collabratec.ieee.org/?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=collabratec-membership-list" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Collabratec
        </a>
    </li>
    <li>
        <a href="mailto:security@ieee.org" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Report cybersecurity concerns to security@lw.org
        </a>
    </li>
    </ul>
      </div>
<!-- --------------------------------------------------------------- -->
      <div class="col">
        <h5>Get Involved</h5>

        <ul>
    <li>
        <a href="/conferences/index.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=conferences" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Conferences
        </a>
    </li>
    <li>
        <a href="/communities/geographic-activities.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=local-activities" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Local activities
        </a>
    </li>
    <li>
        <a href="/publications/authors/publishing-benefits/index.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=publishing" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Publishing
        </a>
    </li>
    <li>
        <a href="/communities/societies/index.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=societies" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Societies
        </a>
    </li>
    <li>
        <a href="/communities/societies/about-technical-councils.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=councils" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Councils
        </a>
    </li>
    <li>
        <a href="http://standards.ieee.org/?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=standards&amp;_ga=2.138828091.983862010.1583757310-1875752245.1558373461" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Standards
        </a>
    </li>
    <li>
        <a href="http://careers.ieee.org/?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=technical-careers" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Technical careers
        </a>
    </li>
    <li>
        <a href="/about/volunteers/index.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=volunteer" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Volunteer
        </a>
    </li>
    </ul>
      </div>

      <div class="col">
        <h5>Connect</h5>

        <button type="button" class="btn btn-outline-secondary"><a href="/about/contact.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=contact-support-button" target="_self">Contact &amp; Support</a></button>

        <ul>
    <li>
        <a href="http://ieee-collabratec.ieee.org/?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=collabratec" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Collabratec
        </a>
    </li>
    <li>
        <a href="https://ieee.taleo.net/careersection/2/jobsearch.ftl?utm_source=mf&amp;utm_campaign=taleo-jobs&amp;utm_medium=footer&amp;utm_term=taleo-jobs%20at%20ieee" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Careers
        </a>
    </li>
    <li>
        <a href="/about/news/index.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=newsroom" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Newsroom
        </a>
    </li>
    <li>
        <a href="/about/news/media-kit/media-kit-index.html?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=media-kit" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Media Kit
        </a>
    </li>
    <li>
        <a href="https://iln.ieee.org/?utm_source=dhtml_footer&amp;utm_medium=hp&amp;utm_campaign=iln&amp;_ga=2.163606711.983862010.1583757310-1875752245.1558373461" target="_self">
            <span class="arrow-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>Learning Network
        </a>
    </li>
    </ul>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="row p-2">
  <div class="col-12">

    <!-- <hr/> -->
<!-- #utility-links-content end -->
</div>
</div>
<hr/>
<div class="row p-2">
<div class="col-12">
  <p class="text-center">&copy Copyright 2024 &copy
    <a href="/security-privacy.html">Privacy</a> &dot
    <a href="/about/help/site-terms-conditions.html">Terms</a>
  </p>
</div>

</div>
</div>

</footer>