<div class="container p-0">
	<header class="border-bottom lh-1 py-3">
	   <div class="row flex-nowrap justify-content-between align-items-center">
	     <div class="col-4 pt-1">
	       <a class="link-secondary" href="#">Subscribe</a>
	     </div>
	     <div class="col-4 text-center">
	       <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Law & Firm</a>
	     </div>
	     <div class="col-4 d-flex justify-content-end align-items-center">
	       <a class="link-secondary" href="#" aria-label="Search">
	         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
	       </a>
	       <!-- a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a-->
	     </div>
	   </div>
	 </header>
	  
	    <nav class="navbar navbar-dark bg-dark shadow navbar-expand-lg sticky-top" style="min-height:75px;">
	  <div class="container-fluid">
	    <img class="mx-1" src="images/pngtree-justice-law-firm-icon-template-vector-lawyer-symbol-attorney-vector-picture-image_10902013.png" style="height: 100%; width: 80px; border-right-color: black !important;" />
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link border-end active text-white" aria-current="page" href="#">Inicio</a>
	        </li>
	        <li class="nav-item border-end">
	          <a class="nav-link text-white" href="#noticias">Noticias</a>
	        </li>
	                <li class="nav-item border-end">
	          <a class="nav-link text-white" href="#eventos">Eventos</a>
	        </li>
	        <li class="nav-item border-end">
	          <a class="nav-link text-white" href="#junta">Junta Directiva</a>
	        </li>
	        <!-- <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Dropdown
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="#">Action</a></li>
	            <li><a class="dropdown-item" href="#">Another action</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="#">Something else here</a></li>
	          </ul>
	        </li> -->
	        <li class="nav-item border-end">
	          <a class="nav-link text-white" href="#beneficios">Beneficios</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link text-white" href="#sobre">Sobre nosotros</a>
	        </li>
	      </ul>	
	    </div>
	  </div>
	</nav>
</div>