<div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="SignupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="SignupModalLabel">Registrarse</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container-fluid justify-content-center form-signin">
    <!--------------------------Sign-up Form -------------------------->
    <form class="row g-3">

  <div class="col-12 form-floating">
    <input id="inputName" type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
    <label for="inputName">Nombre</label>
  </div>

  <div class="col-12 form-floating">
    <input id="inputLastname" type="text" class="form-control" placeholder="Apellido" aria-label="Apellido">
    <label for="inputLastname">Apellido</label>
  </div>

    <div class="col-12 form-floating">
    <!-- <div class="input-group"> -->
      <!-- <div class="input-group-text">+507</div> -->
      <input id="inputNumeroDeTelefono" type="text" class="form-control" placeholder="Numero de telefono">
      <label for="inputNumeroDeTelefono">Numero de telefono</label>
    <!-- </div> -->
  </div>

   <div class="col-12 form-floating">
    <input type="text" class="form-control" id="inputAddress" placeholder="Direccion 1">
    <label for="inputAddress">Direccion 1</label>
  </div>
  <div class="col-12 form-floating">
    <input type="text" class="form-control" id="inputAddress2" placeholder="Direccion 2">
    <label for="inputAddress2">Direccion 2</label>
  </div>

    <div class="col-12">
    <select class="form-select">
      <option selected>Provincia</option>
      <option>...</option>
      <option>...</option>
    </select>
  </div>

  <div class="col-12 form-floating">
    <input type="email" class="form-control" placeholder="correo@ejemplo.com" id="inputEmail">
    <label for="inputEmail">Correo electronico</label>
  </div>

  <div class="col-12 form-floating">
    <input type="password" class="form-control" placeholder="Contraseña" id="inputPassword">
    <label for="inputPassword">Contraseña</label>
  </div>
</form>

<!--------------------------Sign-up Form -------------------------->
  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Registrarse</button>
      </div>
    </div>
  </div>
</div>